-Pure Functions-

1. Given the same input everytime returns the same output
2. It should not produce any side effects (effects the outside world)

def multiply_by2(li):
    new_list = []
    for item in li:
        new_list.append(item * 2)
    return new_list

print(multiply_by2([1, 2, 3]))

-map()-

In [9]:
def multiply_by2(item):
    return item * 2

print(list(map(multiply_by2, [1, 2, 3])))

[2, 4, 6]

In [10]:
my_list = [1, 2, 3]
def multiply_by2(item):
    return item * 2

print(list(map(multiply_by2, my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

-filter()-

In [12]:
my_list = [1, 2, 3]
def only_odd(item):
    return item % 2 != 0

print(list(filter(only_odd, my_list)))
print(my_list)

[1, 3]
[1, 2, 3]

-zip()-

In [15]:
my_list = [1, 2, 3]
your_list = [10 ,20 ,30]
their_list = (5, 4, 3)

print(list(zip(my_list, your_list, their_list)))

[(1, 10, 5), (2, 20, 4), (3, 30, 3)]

-reduce()-

In [21]:
from functools import reduce

my_list = [1, 2, 3]
def accumulator(acc, item):
    print(acc, item)
    return acc + item

print(reduce(accumulator, my_list, 10))

10 1
11 2
13 3
16

-Exercise map, filter, zip, reduce-

from functools import reduce

1. Capitalize all of the pet names and print the list

my_pets = ['sisi', 'bibi', 'titi', 'carla']

2. Zip the 2 lists into a list of tuples, but sort the numbers from lowest to highest.

my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]

3. Filter the scores that pass over 50%

scores = [73, 20, 65, 19, 76, 100, 88]

4. Combine all of the numbers that are in a list on this file using reduce (my_numbers and scores). What is the total?

In [23]:
from functools import reduce

#1
my_pets = ['sisi', 'bibi', 'titi', 'carla']

def capitalize(string):
    return string.upper()

print(list(map(capitalize, my_pets)))

#2
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]

print(list(zip(my_strings, sorted(my_numbers))))

#3
scores = [73, 20, 65, 19, 76, 100, 88]

def is_smart_student(score):
    return score > 50

print(list(filter(is_smart_student, scores)))

#4
def accumulator(acc, item):
    return acc + item

print(reduce(accumulator, (my_numbers + scores)))

['SISI', 'BIBI', 'TITI', 'CARLA']
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
[73, 65, 76, 100, 88]
456

-Lambda Expressions-

lambda param: action(param)

In [6]:
from functools import reduce

my_list = [1, 2, 3]

print(list(map(lambda item: item * 2, my_list)))
print(list(filter(lambda item: item % 2 != 0, my_list)))
print(reduce(lambda acc, item: acc + item, my_list))

[2, 4, 6]
[1, 3]
6

-Exercise Lambda Expressions-

In [16]:
#Square

my_list = [5, 4, 3]
new_list = list(map(lambda num: num ** 2, my_list))
print(new_list)

#List Sorting

a = [(0, 2), (4, 3), (10, -1), (9, 9)]
a.sort(key=lambda x: x[1])
print(a)

[25, 16, 9]
[(10, -1), (0, 2), (4, 3), (9, 9)]

-List Comprehensions-

In [1]:
my_list = []

for char in 'hello':
    my_list.append(char)
    
print(my_list)

['h', 'e', 'l', 'l', 'o']

my_list = [param for param in iterable]

In [10]:
my_list = [char for char in 'hello']
my_list2 = [num for num in range(0, 100)]
my_list3 = [num ** 2 for num in range(0, 100)]
my_list4 = [num ** 2 for num in range(0, 100) if num % 2 == 0]

print(my_list)
print(my_list2)
print(my_list3)
print(my_list4)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

-Set and Dictionary Comprehensions-

In [11]:
my_set = {char for char in 'hello'}
my_set2 = {num for num in range(0, 100)}
my_set3 = {num ** 2 for num in range(0,100)}
my_set4 = {num ** 2 for num in range(0, 100) if num % 2 == 0}

print(my_set)
print(my_set2)
print(my_set3)
print(my_set4)

{'e', 'o', 'h', 'l'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 1024, 4096, 4, 9216, 9, 16, 529, 3600, 4624, 25, 36, 2601, 49, 7225, 3136, 64, 576, 1089, 1600, 2116, 5184, 6724, 7744, 9801, 81, 8281, 6241, 100, 625, 121, 4225, 1156, 8836, 3721, 144, 1681, 2704, 5776, 4761, 2209, 676, 169, 3249, 9409, 196, 1225, 5329, 729, 225, 1764, 7396, 6889, 7921, 2809, 256, 2304, 6400, 3844, 4356, 784, 1296, 8464, 289, 3364, 4900, 5929, 1849, 9025, 324, 841, 1369, 2401, 2916, 5476, 361, 3969, 900, 9604, 4489, 400, 1936, 7056, 7569, 3481, 6561, 1444, 8100, 5041, 441, 961, 2500, 6084, 8649, 3025, 484, 2025, 1521, 5625}
{0, 256, 1024, 2304, 4, 900, 1156, 3844, 4096, 4356, 8836, 9604, 16, 144, 400, 784, 1296, 1936, 2704, 3600, 4624, 5776, 9216, 36, 676, 1444, 3364, 4900, 8100, 7056, 7744, 64, 576, 1600, 3136, 196, 324, 2116, 2500, 5184, 6084, 6400, 6724, 8464, 100, 484, 1764, 2916, 5476, 7396}

In [14]:
simple_dict = {
    'a' : 1,
    'b' : 2
}

my_dict = {key : value ** 2 for key, value in simple_dict.items() if value % 2 == 0}

print(my_dict)

{'b': 4}

In [15]:
my_dict = {num : num * 2 for num in [1, 2, 3]}

print(my_dict)

{1: 2, 2: 4, 3: 6}

-Exercise Comprehensions-

In [19]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = list(set([x for x in some_list if some_list.count(x) > 1]))

print(duplicates)

['n', 'b']