### Python Data Types

### Fundamental data types

int
float
bool
str
list
tuple
set
dict

Classes -> Custom data types
Specialized data types
None

### Numbers

### int and float

In [3]:
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))
print(type(0.00001))
print(type(0))
print(type(20 + 1.1))
print(type(9.9 + 1.1))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>

In [32]:
print(2 ** 2)
print(2 ** 3)
print(2 // 4)
print(3 // 4)
print(6 // 4)
print(5 % 4)
print(6 % 4)

4
8
0
0
1
1
2

### Math Functions

In [33]:
print(round(3.1))
print(abs(-20))

3
20

### Operator Precedence

In [35]:
print((20 - 3) + 2 ** 2)

21

1. ()
2. **
3. * /
4. + -

### bin() and complex

In [44]:
print(bin(5))
print(int('0b101', 2))
#complex -> for complex math operations, your might never use it

0b101
5

### Variables

snake_case
Start with lowercase or underscore
Letters, numbers, underscore
Case sensitive
Don't overwrite keywordsr

In [52]:
iq = 190
user_age = iq / 4
a = user_age

print(a)

47.5

In [53]:
#constants
PI = 3.14

In [54]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

### Expressions vs Statements

In [55]:
iq = 100
user_age = iq / 5

iq / 5 is an expression
user_age = iq / 5 is a statement

### Augmented Assignment Operator

In [59]:
some_value = 5
some_value += 2
some_value -= 2
some_value *= 2

print(some_value)

10

### Strings

In [61]:
print(type(" hi hello there 24!"))
username = 'supercoder'
password = 'supersecret'

<class 'str'>

In [63]:
long_string = '''
WOW
O O
---
'''
print(long_string)

WOW
O O
---

In [65]:
first_name = 'Altin'
last_name = 'Osmanaj'
full_name = first_name + ' ' + last_name
print(full_name)

Altin Osmanaj

### Type Conversion

In [79]:
a = str(100)
b = int(a)
c = type(b)
print(c)
print(type(int(str(100))))

<class 'int'>
<class 'int'>

### Escape Sequence

In [86]:
weather = "\t It\'s \"kind of\" sunny \n hope you have a good day!"
print(weather)

	 It's "kind of" sunny
 hope you have a good day!

### Formatted Strings

In [97]:
name = 'Johnny'
age = 55

print(f'hi {name}. You are {age} years old')
print('hi {}. You are {} years old'.format(name, age))
print('hi {1}. You are {0} years old'.format(name, age))
print('hi {new_name}. You are {age} years old'.format(new_name='Sally', age = 100))

hi Johnny. You are 55 years old
hi Johnny. You are 55 years old
hi 55. You are Johnny years old
hi Sally. You are 100 years old

### String Indexes

In [113]:
selfish = '01234567'
        #  01234567

#[start:stop:stepover]
print(selfish[0:7])
print(selfish[0:8:1])
print(selfish[0:8:2])
print(selfish[1:])
print(selfish[:5])
print(selfish[::1])
print(selfish[-1])
print(selfish[::-1])
print(selfish[::-2])

0123456
01234567
0246
1234567
01234
01234567
7
76543210
7531

Strings are immutable, it means you can't reassign parts of a string

### Built-In Functions + Methods

In [118]:
greet = 'hellloooo'
print(len(greet))
print(greet[0:len(greet)])

9
hellloooo

The len() doesn't start counting from 0, it starts from 1

In [127]:
quote = 'to be or not to be'
print(quote.upper())
print(quote.capitalize())
print(quote.lower())
print(quote.find('be'))
print(quote.replace('be', 'me'))
quote2 = quote.replace('be', 'me')
print(quote)
print(quote2)

TO BE OR NOT TO BE
To be or not to be
to be or not to be
3
to me or not to me
to be or not to be
to me or not to me

### Booleans

A bool can either be True of False

In [128]:
name = 'Altin'
is_cool = False
is_cool = True

In [132]:
print(bool(1))
print(bool(0))
print(bool('True'))

True
False
True

### Exercise Type Conversion

In [142]:
birth_year = input('What year where you born?')
age = 2023 - int(birth_year)
print(f'Your age is: {age}')

What year where you born? 2001

Your age is: 22

### Exercise Password Checker

In [6]:
username = input('What is your username?')
password = input('What is your password?')

password_len = len(password)
hidden_password = '*' * password_len

print(f'{username}, your password, {hidden_password}, is {password_len} letters long')

What is your username? altin
What is your password? supersecret

altin, your password, ***********, is 11 letters long

### Lists

In [8]:
li = [1, 2, 3, 4, 5]
li2 = ['a', 'b', 'c']
li3 = [1, 2.5, 'a', True]

In [10]:
amazon_cart = ['notebooks', 'sunglasses']
print(amazon_cart[0])
print(amazon_cart[1])

notebooks
sunglasses

### List Slicing

In [13]:
amazon_cart = [
    'notebooks', 
    'sunglasses',
    'toys',
    'grapes'
]
print(amazon_cart[0:2])
print(amazon_cart[0::2])

['notebooks', 'sunglasses']
['notebooks', 'toys']

Lists are mutable

In [17]:
amazon_cart[0] = 'laptop'
new_cart = amazon_cart[0:3]
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)

['gum', 'sunglasses', 'toys']
['laptop', 'sunglasses', 'toys', 'grapes']

Copy a list

In [18]:
new_cart1 = amazon_cart[:]
print(new_cart1)

['laptop', 'sunglasses', 'toys', 'grapes']

### Matrix

In [21]:
matrix = [
    [1, 5, 1],
    [0, 1, 0],
    [1, 0, 1]
]

print(matrix[0][1])

5

### List Methods

In [43]:
basket = [1, 2, 3, 4, 5]
print(len(basket))

5

In [44]:
#adding
basket.append(100)
print(basket)
basket.insert(4, 100)
print(basket)
basket.extend([100, 101])
print(basket)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 100, 5, 100]
[1, 2, 3, 4, 100, 5, 100, 100, 101]

In [45]:
#removing
basket.pop()
print(basket)
basket.pop(0)
print(basket)
basket.remove(4)
print(basket)
basket.clear()
print(basket)

[1, 2, 3, 4, 100, 5, 100, 100]
[2, 3, 4, 100, 5, 100, 100]
[2, 3, 100, 5, 100, 100]
[]

In [66]:
basket = ['a', 'b', 'c', 'd', 'e', 'd']

In [67]:
print('d' in basket)
print('x' in basket)
print(basket.index('d', 0, 4))
print(basket.count('d'))

True
False
3
2

In [76]:
print(sorted(basket))
new_basket = basket.copy()
new_basket.sort()
print(new_basket)

print(basket)
basket.sort()
print(basket)
basket.reverse()
print(basket)

['a', 'b', 'c', 'd', 'd', 'e']
['a', 'b', 'c', 'd', 'd', 'e']
['e', 'd', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'd', 'e']
['e', 'd', 'd', 'c', 'b', 'a']

### Common List Patterns

In [4]:
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']

basket.sort()

print(basket[::-1])
print(list(range(1, 101)))

sentence = ' '
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'JOJO'])

print(new_sentence)

['x', 'e', 'd', 'd', 'c', 'b', 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
hi my name is JOJO

### List Unpacking

In [8]:
a, b, c, *other, d = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

### None

In [9]:
weapons = None
print(weapons)

None

### Dictionaries

In [15]:
dictionary = {
    'a' : [1, 2, 3],
    'b' : 'hello',
    'x' : True
}

print(dictionary)
print(dictionary['a'])
print(dictionary['a'][1])

{'a': [1, 2, 3], 'b': 'hello', 'x': True}
[1, 2, 3]
2

In [17]:
my_list = [
    {
    'a' : [1, 2, 3],
    'b' : 'hello',
    'x' : True
    },
    {
    'a' : [1, 2, 3],
    'b' : 'hello',
    'x' : True
    }
]

print(my_list[0]['a'][2])

3

### Dictionary Methods

In [25]:
user = {
    'basket' : [1, 2, 3],
    'greet' : 'hello',
}

print(user.get('age'))
print(user.get('age', 55))

None
55

In [37]:
user2 = dict(name='JohnJohn')
print(user2)

{'name': 'JohnJohn'}

In [38]:
print('basket' in user)
print('greet' in user.keys())
print('hello' in user.values())
print(user.items())
user2 = user.copy()
print(user.clear())
print(user2)

True
True
True
dict_items([('basket', [1, 2, 3]), ('greet', 'hello')])
None
{'basket': [1, 2, 3], 'greet': 'hello'}

In [47]:
user = {
    'basket' : [1, 2, 3],
    'greet' : 'hello',
    'age' : 20
}

print(user.pop('age'))
print(user)
print(user.popitem())
print(user)
user.update({'greet' : 'hi'})
print(user)

20
{'basket': [1, 2, 3], 'greet': 'hello'}
('greet', 'hello')
{'basket': [1, 2, 3]}
{'basket': [1, 2, 3], 'greet': 'hi'}

### Tuples

Tuples are immutable

In [4]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1])
print(5 in my_tuple)

2
True

In [6]:
new_tuple = my_tuple[1:2]
print(new_tuple)

(2,)

In [9]:
x, y, z, *other = (1, 2, 3, 4, 5)
print(x)
print(y)
print(z)
print(other)

1
2
3
[4, 5]

In [13]:
my_tuple = (1, 2, 3, 4, 5, 5)
print(my_tuple.count(5))
print(my_tuple.index(5))
print(len(my_tuple))

2
4
6

### Sets

In [24]:
my_set = {1, 2, 3, 4, 5, 5}
my_set.add(100)
my_set.add(2)
print(my_set)
print(1 in my_set)
print(len(my_set))
print(list(my_set))

new_set = my_set.copy()
my_set.clear()
print(new_set)
print(my_set)

{1, 2, 3, 4, 5, 100}
True
6
[1, 2, 3, 4, 5, 100]
{1, 2, 3, 4, 5, 100}
set()

In [17]:
my_list = [1, 2, 3, 4, 5, 5]
print(set(my_list))

{1, 2, 3, 4, 5}

In [40]:
my_set = {1, 2, 3, 4, 5, 6, 7}
your_set = {4, 5, 6, 7, 8, 9, 10}

print(my_set.difference(your_set))
print(my_set.discard(5))
print(my_set)
#print(my_set.difference_update(your_set))
#print(my_set)
print(my_set.intersection(your_set))
#print(my_set & your_set)
print(my_set.isdisjoint(your_set))
print(my_set.union(your_set))
#print(my_set | you_set)
print(my_set.issubset(your_set))
print(my_set.issuperset(your_set))

{1, 2, 3}
None
{1, 2, 3, 4, 6, 7}
{4, 6, 7}
False
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
False
False

The isdisjoint() method returns True if two sets don't have any common items between them

The issubset() method returns True if all items in the set exists in the specified set

The issuperset() method is a set function that tells whether or not a set contains all the elements of another set